body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

main > div{
  height: 100%;
}


@keyframes compress-nav {
0%{
  gap:40px
}
25%{
  gap:30px;
}
50%{
 gap: 15px;
}
100%{
  gap:0px;
}
}
@keyframes expand-nav {
0%{
  gap:0px;
}
25%{
  gap: 15px;
}
50%{
  gap:30px;
}
100%{
  gap:40px;
}
}

@keyframes expand-item {
0%{
  background-size: 0px 0px;
  transform:rotate(0deg);
}
25%{
  background-size: 10px 10px;
}
50%{
  background-size: 20px 20px;
}
100%{
  background-size: 30px 30px;
  transform:rotate(360deg);
}
}

#main-item{
  font-weight:700;
  background-image:url('./resources/img/home.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  background-position: center;
}
nav{
  display: flex;
  justify-content:center;
  position: sticky;
  bottom: 20px;
  z-index: 99;
}

#rudder-item-list{
  background-color: #ebdbb2;
  color: #f9f5d7;
  font-size:2rem;
} 


.left-rud-inactive,.right-rud-inactive{
  animation-name: fade-content;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  transition: transform 250ms ease-in;
}


#loc{
  background-image:url('./resources/img/compass (1).png');
}
#msg{
  background-image:url('./resources/img/chat.png');
}

#user{
  background-image:url('./resources/img/user.png');
}
#settings{
  background-image:url('./resources/img/settings.png');
}

.left-rud-active>li,.right-rud-active>li{
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: expand-item;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

/* this is for container */
.left-rud-active,.right-rud-active{
  display:flex;
  gap: 40px;
}

.rudder-active{
  display: flex;
  align-items: center;
  padding:20px 35px;
  transition:padding 100ms ease-in ;
  border-radius:40px;
  animation-name: expand-nav;
  animation-duration: 300ms;
  animation-fill-mode: forwards; 
}

.rudder-inactive{
  display:flex;
  animation-name: compress-nav;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  transition:padding 100ms ease-in ;
  padding: 20px 20px;
  border-radius: 40px;
}


