/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
 text-decoration: none; 
  color: black;
}

@font-face{
  font-family: 'Poppins';
  src: url('./resources/woff-fonts/Poppins-Regular.woff') format('woff'),
url('./resources/woff-fonts/Poppins-SemiBold.woff') format('woff'),
url('./resources/woff-fonts/Poppins-Bold.woff') format('woff'),
url('./resources/woff-fonts/Poppins-Medium.woff') format('woff');
}
:root{
  --jet: #3A3844ff;
--eggplant: #513E49ff;
--rhythm: #696F8Fff;
--blue-yonder: #647598ff;
--thistle: #BFB0C4ff;
--eggplant-2: #54404Cff;
--eggplant-3: #6C4A56ff;
--eggplant-4: #5A414Cff;
--mauve-taupe: #7E5867ff;
}
body{
  overflow: hidden;
  font-family: 'Poppins';
  height: 100vh;
  width: 100vw;
}
main{
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: var(--blue-yonder);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  background-color: whitesmoke;
  position: absolute;
  width: 98%;
}

#logo{
  font-weight: bold;
  font-size: 1.2rem;
}

#github-cont{
  display: flex;
  align-items: center;
  gap: 10px;
}

#git-img{
  height: 30px;
  width: 30px;
}


#weather-cont{
  display: flex;
  flex-direction: column;
  padding: 2.5em 3.5em;
  background-color: var(--blue-yonder);
  margin: 0em 6em 0em 6em;
  margin-top: auto;
  margin-bottom: 2em;
  gap: 20px;
}

#current-cont{
  display: flex;
  width: 80em;
  height: 100%;
  outline: 1px solid red;
  justify-content: space-between;
  padding: 2em 3em 2em 3em;
  gap: 40px;
 }

#imp-details{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
}


#city{
  font-size: 2rem;
}
#temperature{
  font-size: 5rem;
  cursor:pointer;
}


#min-max-temp{
  display: flex;
  /* gap:10px; */
}


p#description{
  font-size: 1.2rem;
}

#detail-curr-cont{
  width: 40%;
  height:  519px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}


#upper-extra-inf{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 10px;
}
#lower-extra-inf{
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  line-height: 30px;
}
#lower-extra-inf p > span{
  display: flex;
  justify-content: center;
  align-items: baseline;
}


#current-hourly-chart{
  flex: 1;
  height:  100%;
  background-color: #3A3844;
}

#daily{
  min-width: 100%;
}
#daily-list-cont{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#daily-list-cont > li {
  display:flex;
  justify-items: center;
  align-items: center;
  background-color: black;
  color: white;
  flex: 1;
  height: 10em;
  background-color: #3A3844;
}
